extends /layout.jade
block content

  div(style="margin-left:65px;")
    h2(style="font-size:24;font-weight:bold;padding-top:65px;") Something went wrong
    br
    br
    p(style="font-size:16;") Please be sure your store still has Earpiece installed and is up to date with payment.
    br
    br
    p(style="font-size:16;") To reinstall our app, please visit:
    a(href='https://apps.shopify.com/how-heard', target='_blank') https://apps.shopify.com/how-heard
    br
    br
    p(style="font-size:16;") With any technical issues, please email us at: 
    a(href='mailto:labs@resonance.nyc') labs@resonance.nyc