extends /layout.jade
block content

  .container
    .main
      .page-header
       h1 Marketing Sources
        .row
          .col-md-6
            if choices
              table.table.table-striped
                tbody
                  each selection in choices.selections
                    tr
                      td(data-choice="#{selection}") #{selection}
                      td
                        a(href="/") Delete

            div
              form(action='/some/thing/add', method="post")
                div
                  label(for="selection") Enter your selection
                  input(id='selection', type='text', value='', name='selection')
                  button(type="submit" style="margin: 10px;") Add

script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")