extends /layout.jade
block content

  div.tabs
    ul
      li(style="padding:20px;")
        a(href='?circuit=yes&shop=#{shopName}') Marketing Sources
      li(style="padding:20px;")
        a(href='/reporting?circuit=yes&shop=#{shopName}') Reporting
      li(style="padding:20px;")
        a(href='/instructions?circuit=yes&shop=#{shopName}') Install
  div.columns
    div.column(style="padding:50px;") 
      p!
        <!-- How Heard App =========================================== -->
        br
        "<div id="resonance" style="display: none;">{{checkout.email}}</div>"
        br
        "<script src="https://how-heard.herokuapp.com/initialize.js"></script>"
        br
        <!-- End How Heard App ======================================== -->