extends /layout.jade
block content

  div.tabs
    ul
      li(style="padding:20px;")
        a(href='?circuit=yes&shop=#{shopName}') Marketing Sources
      li(style="padding:20px;")
        a(href='/reporting?circuit=yes&shop=#{shopName}') Reporting
      li(style="padding:20px;")
        a(href='/instructions?circuit=yes&shop=#{shopName}') Install
  div.columns
    div.column(style="padding:50px;")
    - var code1 = <!-- How Heard App =========================================== -->
    - var code2 = <div id="resonance" style="display: none;">{{checkout.email}}</div>
    - var code3 = <script src="https://how-heard.herokuapp.com/initialize.js"></script>
    - var code4 = <!-- End How Heard App ======================================== -->
      p.
        code1
        br
        code2
        br
        code3
        br
        code4