extends /layout.jade
block content

  div.tabs
    ul
      li(style="padding:20px;")
        a(href='?circuit=yes&shop=#{shopName}') Marketing Sources
      li(style="padding:20px;")
        a(href='/reporting?circuit=yes&shop=#{shopName}') Reporting
      li(style="padding:20px;")
        a(href='/instructions?circuit=yes&shop=#{shopName}') Install
  div.columns
    div.column(style="padding:50px;") 
    - var foo1 = "<!-- How Heard App =========================================== -->"
    - var foo2 = "<div id="resonance" style="display: none;">{{checkout.email}}</div>"
    - var foo3 = "<script src="https://how-heard.herokuapp.com/initialize.js"></script>"
    - var foo4 = "<!-- End How Heard App ======================================== -->"
      span foo1
      br
      span foo2

        