extends /layout.jade
block content

  table.table
    thead
      tr
        th Order Number
        th Date
        th Subtotal
        th Email
        th First Name
        th Last Name
        th City
        th State
        th Country
        th Lifetime Orders
        th LTR
        th How Heard   
