script(src="https://cdn.shopify.com/s/assets/external/app.js")
script(type='text/javascript').
  ShopifyApp.init({
    apiKey: '#{apiKey}',
    shopOrigin: 'https://#{shopName}',
    debug: false  
  });
