div.field field--required.field--three-eights.field--show-floating-label
  div.field__input-wrapper.field__input-wrapper--select
    label.field__label
      select#howHeard.field__input.field__input--select
        each selection, i in selections
          option(value=i) #{selection}

script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
script.
  /** Randomize option values
  *   Prepend text to show in dropdown
  */
  var ul = document.querySelector('#howHeard');
    for (var i = ul.children.length; i >= 0; i--) {
      ul.appendChild(ul.children[Math.random() * i | 0]);
  }

  $('#howHeard').prepend('<option value="choose">Please select from the following</option>');
  $('#howHeard option[value="choose"]').prop('selected', true);

  $("#howHeard").change(function() {
    var choice = $("option:selected").text();
    var $url = 'https://how-heard.herokuapp.com/response' + '?shopName=' + '#{shopName}' + '&custId=' + '#{custId}' + '&choice=' + choice;

    $.getJSON($url);
	
  });