style.
  h2 {
      font-family: #fontFamily;
      font-size: #fontSize;
      font-weight: #fontWeight;
      color: #fontColor;
  }


div
  h2 How did you hear about us? (Optional)
    p.control
      span.select.is-medium
        select#howHeard
          each selection, i in selections
            option(value=i) #{selection}

script(src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js")
script.
  /** Randomize option values
  *   Prepend text to show in dropdown
  */
  var ul = document.querySelector('#howHeard');
    for (var i = ul.children.length; i >= 0; i--) {
      ul.appendChild(ul.children[Math.random() * i | 0]);
  }

  $('#howHeard').prepend('<option value="choose">Please select from the following</option>');
  $('#howHeard option[value="choose"]').prop('selected', true);

  $("#howHeard").change(function() {
    var choice = $("option:selected").text();
    var $url = 'https://how-heard.herokuapp.com/response' + '?shopName=' + '#{shopName}' + '&custId=' + '#{custId}' + '&choice=' + choice;

    $.getJSON($url);
	
  });